/* *,
*::before,
*::after {
    padding: 0;
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
} */
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
body.lock {
    overflow: hidden;
}
.wrapper {
    min-height: 100%;
}
.page {
    padding: 32px 0px 0px 0px;
}
.page__section {
    
    max-width: 1920px;
    margin: 0px auto;
}
.page__section_1 {
    background-color: #fff;
}
.page__section_2 {
    background-color: #fff;
    max-width: 1200px;
}
.page__section_3 {
    background-color: #fff;
    max-width: 1400px;
}
.page__section_5 {
    max-width: 1400px;
}
.page__section_6 {
    max-width: 200px;
}
.pageWithBG {
    background-image: url("../img/rrr.png");
    width: 100%;
}
.page__title {
    margin: 0px 0px 0px 0px;
    padding-top: 350px;
    padding-left: 275px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    margin-top: 35px;
    
    color: #fff;
}
.page__p {
    padding-left: 275px;
    margin: 0px 0px 0px 0px;
    padding-bottom: 370px;
    text-align: left;
    font-family: Roboto Slab;
    font-style: regular;
    font-size: 18px;   
    color: #fff;
}
.page__text {
    font-size: 16px;
    line-height: 150%;
}
.page__text p {
    margin: 0px 0px 20px 0px;
}
.page__sub-title {
    margin: 0px 0px 20px 0px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    
    color: #000;
}
.menu__line {
    display: block;
    margin: auto;
    background: #f4f4f4;
    max-width: 60%;
    height: 3px;
    border-radius: 20px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    background-color: #F4F4F4;
}
.header__container {
    min-width: 1200px;
    margin: 0px auto;
    display: flex;
    padding: 0px 30px;
    align-items: center;
    min-height: 70px;
}
.header__logo {
    /* Здесь мог быть ваш логотип */
}
.header__menu {

}
.footer {
    justify-content: center;
    align-items: center;
    display: block;
    margin-top: 40px;
    height: 60px;
    background: #f4f4f4;
}
.menu {

}
.menu__icon {
    display: none;
}
.menu__body {

}
.menu__list {
    text-align: center;
    display: block;
    margin: auto;
    padding-left: 702px;
    justify-content: center;
    align-items: center;
}
.menu__list > li {
    position: relative;
    margin: 0px 0px 0px 20px;
}
.menu__link {
    color: #000;
    font-family: Rubik;
    font-size: 20px;
    text-decoration: none;
}
.menu__link:hover {
    text-decoration: underline;
    color: #000;
}
.menu__sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000;
    padding: 15px;
    min-width: 200px;
}
.menu__sub-list li {
    margin: 0px 0px 10px 0px;
}
.menu__sub-list li:last-child {
    margin: 0;
}
.menu__sub-link {
    color: #fff;
}
.menu__sub-link:hover {
    text-decoration: underline;
}
.menu__arrow {
    display: none;
}



.empty__list {
    height: 72px;
}
.square {
    padding-top: 60px;
}
.singlesCover {
    width: 34px;
    height: 34px;
    float: left;
    margin-left: 450px;
    margin-top: 18px;
}
.square h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    display: block;
    position: absolute;
    color: #282828;
    margin-left: 450px;
    margin-top: 54px;
}
.square h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    margin-left: 520px;
    display: block;
    justify-content: left;
    position: absolute;
    color: #000;
    margin-top: 22px;
}
.square h3{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #BBBBBB;
    margin-left: 640px;
}

.socialsImg {
    width: 46px;
    display: inline;
    margin-top: 8px;
    height: 80%;
    margin-left: 16px;
    border-radius: 360px;
}

/* Слайдер */ 
.slick-slider{} 
/* Слайдер запущен */ 
.slick-slider.slick-initialized{} 
/* Слайдер с точками */ 
.slick-slider.slick-dotted{}	
/* Ограничивающая оболочка */ 
.slick-list {
   overflow: hidden;
} 
/* Лента слайдов */ 
.slick-track{
   display: flex;
   align-items: flex-start;
}

/* Слайд */ 
.slick-slide{} 
/* Слайд активный (показывается) */ 
.slick-slide.slick-active{} 
/* Слайд основной */ 
.slick-slide.slick-current{} 
/* Слайд по центру */ 
.slick-slide.slick-center{} 
/* Клонированный слайд */ 
.slick-slide.slick-cloned{}
/* Стрелка */ 
.slick-arrow{
    border: none;
} 
/* Стрелка влево */ 
.slick-arrow.slick-prev{} 
/* Стрелка вправо */ 
.slick-arrow.slick-next{} 
/* Стрелка не активная */ 
.slick-arrow.slick-disabled{}
/* Точки (булиты) */ 
.slick-dots{} 
.slick-dots li{} 
/* Активная точка */ 
.slick-dots li.slick-active{} 
/* Элемент точки */ 
.slick-dots li button{} 

.slider {
   position: relative;
   padding: 0px 60px;
}
.slider .slick-arrow {
   position: absolute;
   top: 50%;
   margin: -30px 0px 0px 0px;
   z-index: 10;
   font-size: 0;
   width: 40px;
   height: 40px;
}
.slider .slick-arrow.slick-prev {
   left: 0;
   background: url('../img/sl-arrow-l_2.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
   right: 0;
   background: url('../img/sl-arrow-r_2.svg') 0 0 / 100% no-repeat;
}
.slider__item.slick-center {
    opacity: 1;
    transform: scale(1.1); 
}

.slider .slick-dots{
   display: flex;
   align-items: center;
   justify-content: center;
} 
.slider .slick-dots li{
   list-style: none;
   margin: 0px 10px;
} 
.slider .slick-dots li button{
   font-size: 0;
   width: 10px;
   height: 10px;
   background-color: #fff;
   border-radius: 50%;
} 
/* .slider .slick-dots li.slick-active button{
   background-color: transparent;
   border: 2px solid #000;
}  */
.slider__item {
   transition: all 0.3s ease 0s;
   opacity: 0.6;
   text-align: center;
}
.slider__item:hover {
   opacity: 1;
   transform: scale(1.1); 
}
/* .slider__item:hover {
   opacity: 1;
   transform: scale(1.05); 
} */
.slider__item img {
    width: 264px;
    height: 264px;
}

.roadmap__text h1 {
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-size: 28px;
}


.introSection_1 h1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    padding-top: 120px;
}
.introSection_1 img {
    float: left;
    margin-left: 300px;
}
.introSection_1 p {
    font-family: 'Rubik';
    font-style: normal;
    font-size: 18px;
}


.introSection_2 h1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    padding-top: 100px;
    position: absolute;
}
.introSection_2 p {
    font-family: 'Rubik';
    font-style: normal;
    font-size: 18px;
    margin-top: 175px;
    position: absolute;
}
.twitter p {
    font-family: 'Rubik';
    font-style: normal;
    font-size: 18px;
    margin-top: 216px;
    position: absolute;
}
.introSection_2 img {
    float: right;
    margin-right: 300px;
    
}


/*----------------------------*/

body._pc .menu__list > li:hover .menu__sub-list{
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}
body._touch .menu__list > li {
    display: flex;
    align-items: center;
}
body._touch .menu__link {
    flex: 1 1 auto;
}
body._touch .menu__arrow {
    display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 5px;
    transition: transform 0.3s ease 0s;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #000;
}
body._touch .menu__list > li._active .menu__sub-list{
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}
body._touch .menu__list > li._active .menu__arrow {
    transform: rotate(-180deg);
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
  }

.FAQsquare h1{
    text-align: center;
    color: #000;
    justify-content: center;
    font-family: 'Rubik';
    font-size: 24px;
    opacity: 1;
    transition: 0.1s ease;
    padding-top: 10px;
}
.FAQsquare h2{
    text-align: center;
    position: relative;
    color: #000;
    justify-content: center;
    font-family: 'Rubik';
    font-size: 24px;
    opacity: 0;
    transition: 0.1s ease;
}
.FAQsquare {
    width: 90%;
    height: 100px;
    background-color: #f4f4f4;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}
.FAQsquare:hover > h1 {
    opacity: 0;
    transition: 0.1s ease;
}
.FAQsquare:hover > h2 {
    opacity: 1;
    transition: 0.1s ease;
}
.FAQlong {
    height: 150px;
}

/*----------------------------*/

@media (max-width: 1200px) {
    .slider__item {
        opacity: 1;
    }
} 
@media (max-width: 991px) {
    
}

@media (max-width: 1220px) {
    .menu__list {
        padding-left: 280px;
    }
    .page__title {
        padding-left: 40px;
    }
    .page__p {
        padding-left: 40px;
    }
    .square {
        padding-top: 120px;
    }
    .singlesCover {
        margin-left: 260px;
    }
    .square h2 {
        margin-left: 260px;
    }
    .square h1{
        margin-left: 305px;
    }
    .square h3{
        margin-left: 400px;
    }
}
@media (max-width: 890px) {
    .menu__list {
        padding-left: 115px;
    }
}
@media (min-width: 767px) {
    .mobileLinks {
        display: none;
    }
    .menu__list {
        display: flex;
        align-items: center;
    }
    .menu__list > li {
        padding: 10px 0;
    }
    .menu__sub-list {
        transform: translate(0px, 10%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none; /* Запрещает любое взаимойдествие объекта с мышью */
        transition: all 0.3s ease 0s;
    }
}
@media (max-width: 636px) {
    
    .menu__list {
        padding-left: 80px;
    }
    .page__title {
        padding-left: 10px;
        font-size: 68px;
    }
    .page__p {
        padding-left: 10px;
    }
}
@media (max-width: 868px) {
    .page__title {
        padding-left: 20px;
        font-size: 92px;
    }
    .page__p {
        padding-left: 20px;
    }
}
@media (max-width:868px) {
    .singlesCover {
        margin-left: 140px;
    }
    .square h2 {
        margin-left: 140px;
    }
    .square h1{
        margin-left: 205px;
    }
    .square h3{
        margin-left: 300px;
    }
    .menu__list {
        padding-left: 80px;
    }
}
@media (max-width: 535px) {
    
    .page__title {
        padding-left: 20px;
        font-size: 68px;
    }
    .page__p {
        padding-left: 20px;
    }
}

@media (max-width: 767px) {
    .page__sub-title {
        font-size: 56px;
    }
    .singlesCover {
        margin-left: 60px;
    }
    .square h2 {
        margin-left: 60px;
    }
    .square h1{
        margin-left: 125px;
    }
    .square h3{
        margin-left: 190px;
    }


    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #000;
    }
    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }
    .menu__icon::before {
        top: 0;
    }
    .menu__icon::after {
        bottom: 0;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu__icon._active span{
        transform: scale(0) translate(0px, -50%);
    }
    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .menu__body {
        position: fixed; 
        align-items: center;
        justify-content: center;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        /* padding: 100px 30px 30px 30px; */
        padding-left: 0px;
        padding-top: 100px;
        padding-right: 0px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .menu__body._active {
        left: 0;
    }
    .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background-color: #F4F4F4;
        z-index: 2;
    }
    .menu__list {
        padding-left: 0px;
    }
    .menu__list > li {
        flex-wrap: wrap;
        margin: 0px 0px 30px 0px;
    }
    .menu__list > li:last-child {
        margin-bottom: 0;
    }
    .menu__list > li._active .menu__sub-list {
        display: block;
    }
    .menu__link {
        font-size: 24px;
    }
    .menu__sub-list {
        position: relative;
        background-color: #fff;
        flex: 1 1 100%;
        margin: 20px 0px 0px 0px;
        display: none;
    }
    .menu__sub-link {
        font-size: 20px;
        color: #000;
    }
}
@media (max-width: 464px) {
    .singlesCover {
        margin-left: 10px;
    }
    .square h2 {
        margin-left: 10px;
    }
    .square h1{
        margin-left: 60px;
    }
    .square h3{
        margin-left: 120px;
    }
}

@media (max-width: 1920px) {
    .superSpan {
        display: none;
    }
    .introSection_2 h1 {
        padding-top: 100px;
        margin-left: 1000px;
    }
    .introSection_2 p {
        margin-left: 1000px;
    }
    .introSection_2 img {
        margin-right: 300px;
    }
}
@media (max-width: 1870px) {
    .introSection_2 h1 {
        padding-top: 100px;
        margin-left: 1000px;
    }
    .introSection_2 p {
        margin-left: 1000px;
    }
    .introSection_2 img {
        margin-right: 300px;
    }
}
@media (max-width: 1800px) {
    .introSection_2 h1 {
        padding-top: 100px;
        margin-left: 980px;
    }
    .introSection_2 p {
        margin-left: 980px;
    }
    .introSection_2 img {
        margin-right: 300px;
    }
}
@media (max-width: 1780px) {
    .introSection_2 h1 {
        padding-top: 100px;
        margin-left: 920px;
    }
    .introSection_2 p {
        margin-left: 920px;
    }
    .introSection_2 img {
        margin-right: 300px;
    }
}
@media (max-width: 1720px) {
    .introSection_2 h1 {
        padding-top: 100px;
        margin-left: 860px;
    }
    .introSection_2 p {
        margin-left: 860px;
    }
    .introSection_2 img {
        margin-right: 300px;
    }
}
@media (max-width: 1680px) {
    .introSection_2 h1 {
        padding-top: 100px;
        margin-left: 840px;
    }
    .introSection_2 p {
        margin-left: 840px;
    }
    .introSection_2 img {
        margin-right: 300px;
    }
}
@media (max-width: 1640px) {
    .introSection_2 h1 {
        padding-top: 100px;
        margin-left: 800px;
    }
    .introSection_2 p {
        margin-left: 800px;
    }
    .introSection_2 img {
        margin-right: 300px;
    }
}
@media (max-width: 1600px) {
    .introSection_2 h1 {
        padding-top: 100px;
        margin-left: 760px;
    }
    .introSection_2 p {
        margin-left: 760px;
    }
    .introSection_2 img {
        margin-right: 300px;
    }
}
@media (max-width: 1560px) {
    .introSection_2 h1 {
        padding-top: 100px;
        margin-left: 720px;
    }
    .introSection_2 p {
        margin-left: 720px;
    }
    .introSection_2 img {
        margin-right: 300px;
    }
}
@media (max-width: 1540px) {
    .introSection_2 h1 {
        padding-top: 100px;
        margin-left: 700px;
    }
    .introSection_2 p {
        margin-left: 700px;
    }
    .introSection_2 img {
        margin-right: 300px;
    }
}
@media (max-width: 1500px) {
    .introSection_2 h1 {
        padding-top: 100px;
        margin-left: 660px;
    }
    .introSection_2 p {
        margin-left: 660px;
    }
    .introSection_2 img {
        margin-right: 300px;
    }
}
@media (max-width: 1460px) {
    .introSection_2 h1 {
        padding-top: 100px;
        margin-left: 620px;
    }
    .introSection_2 p {
        margin-left: 620px;
    }
    .introSection_2 img {
        margin-right: 300px;
    }
}
@media (max-width: 1440px) {
    .introSection_2 h1 {
        padding-top: 100px;
        margin-left: 580px;
    }
    .introSection_2 p {
        margin-left: 580px;
    }
    .introSection_2 img {
        margin-right: 300px;
    }
}
@media (max-width: 1400px) {
    .superSpan {
        display: block;
    }
    .superSpanRegular {
        display: none;
    }
    .introSection_2 h1 {
        padding-top: 100px;
        margin-left: 540px;
    }
    .introSection_2 p {
        margin-left: 540px;
    }
    .introSection_2 img {
        margin-right: 300px;
    }
}
@media (max-width: 1360px) {
    .introSection_2 h1 {
        padding-top: 228px;
        margin-left: 700px;    
    }
    .introSection_2 p {
        margin-top: 312px;
        margin-left: 700px;
    }
    .twitter p {
        margin-top: 358px;
        margin-left: 700px;
    }
    .introSection_2 img {
        margin-left: 300px;
        float: left;
    }
}
@media (max-width: 1140px) {
    .introSection_2 h1 {
        margin-left: 640px;    
    }
    .introSection_2 p {
        margin-left: 640px;
    }
    .introSection_2 img {
        margin-left: 240px;
        float: left;
    }
    .introSection_1 img {
        margin-left: 240px;
        float: left;
    }
}
@media (max-width: 1080px) {
    .FAQsquare:hover, .FAQsquare._active > h1 {opacity: 0;}
    .FAQsquare:hover, .FAQsquare._active > h2 {opacity: 1;}
}
@media (max-width: 1040px) {
    .introSection_2 h1 {
        margin-left: 540px;    
    }
    .introSection_2 p {
        margin-left: 540px;
    }
    .introSection_2 img {
        margin-left: 140px;
        float: left;
    }
    .introSection_1 img {
        margin-left: 140px;
        float: left;
    }
}
@media (max-width: 870px) {
    .introSection_2 h1 {
        margin-left: 440px;    
    }
    .introSection_2 p {
        margin-left: 440px;
    }
    .introSection_2 img {
        margin-left: 40px;
        float: left;
    }
    .introSection_1 img {
        margin-left: 40px;
        float: left;
    }
    .FAQsquare h1{
        font-size: 18px;
    }
    .FAQsquare h2{
        font-size: 18px;
    }
}
@media (max-width: 690px) {
    .introSection_2 h1 {
        margin-left: 420px;    
    }
    .introSection_2 p {
        margin-left: 420px;
    }
    .introSection_2 img {
        margin-left: 20px;
        float: left;
    }
    .introSection_1 img {
        margin-left: 20px;
        float: left;
    }
}
@media (max-width: 666px) {
    .superSpan br{
        display: none;
    }
    .introSection_2 img {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .introSection_1 img {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .introSection_1 h1 {
        text-align: center;
    }
    .introSection_1 p {
        text-align: center;
    }
    .introSection_2 h1 {
        text-align: center;
        position: static;
        margin: auto;
    }
    .introSection_2 p {
        text-align: center;
        position: static;
        padding-top: 20px;
        margin: auto;
    }
}
@media (max-width: 565px) {
    .FAQsquare h1{
        font-size: 18px;
    }
    .FAQsquare h2{
        font-size: 14px;
    }
}
@media (max-width: 380px) {
    .FAQlong {
        height: 160px;
    }
}
@media (max-width: 348px) {
    .FAQlong {
        height: 180px;
    }
}

@media (min-height: 877px) {
    .mobileLinks {
        margin-top: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .mobileLinks img {
        margin-left: 10px;
        margin-right: 10px;
        width: 38px;
        height: 100%;
    }
}
@media (max-height: 876px) {
    .mobileLinks {
        margin-top: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .mobileLinks img {
        margin-left: 10px;
        margin-right: 10px;
        width: 38px;
        height: 100%;
    }
}
@media (max-height: 846px) {
    .mobileLinks {
        margin-top: 96%;
        margin-left: auto;
        margin-right: auto;
    }
    .mobileLinks img {
        margin-left: 10px;
        margin-right: 10px;
        width: 38px;
        height: 100%;
    }
}
@media (max-height: 816px) {
    .mobileLinks {
        margin-top: 86%;
        margin-left: auto;
        margin-right: auto;
    }
    .mobileLinks img {
        margin-left: 10px;
        margin-right: 10px;
        width: 38px;
        height: 100%;
    }
}
@media (max-height: 776px) {
    .mobileLinks {
        margin-top: 78%;
        margin-left: auto;
        margin-right: auto;
    }
    .mobileLinks img {
        margin-left: 10px;
        margin-right: 10px;
        width: 38px;
        height: 100%;
    }
}
@media (max-height: 746px) {
    .mobileLinks {
        margin-top: 66%;
        margin-left: auto;
        margin-right: auto;
    }
    .mobileLinks img {
        margin-left: 10px;
        margin-right: 10px;
        width: 38px;
        height: 100%;
    }
}
@media (max-height: 696px) {
    .mobileLinks {
        margin-top: 56%;
        margin-left: auto;
        margin-right: auto;
    }
    .mobileLinks img {
        margin-left: 10px;
        margin-right: 10px;
        width: 38px;
        height: 100%;
    }
}
@media (max-height: 656px) {
    .mobileLinks {
        margin-top: 46%;
        margin-left: auto;
        margin-right: auto;
    }
    .mobileLinks img {
        margin-left: 10px;
        margin-right: 10px;
        width: 38px;
        height: 100%;
    }
}
@media (max-height: 621px) {
    .mobileLinks {
        margin-top: 34%;
        margin-left: auto;
        margin-right: auto;
    }
    .mobileLinks img {
        margin-left: 10px;
        margin-right: 10px;
        width: 38px;
        height: 100%;
    }
}
@media (max-height: 574px) {
    .mobileLinks {
        margin-top: 24%;
        margin-left: auto;
        margin-right: auto;
    }
    .mobileLinks img {
        margin-left: 10px;
        margin-right: 10px;
        width: 38px;
        height: 100%;
    }
}
@media (max-height: 544px) {
    .mobileLinks {
        margin-top: 14%;
        margin-left: auto;
        margin-right: auto;
    }
    .mobileLinks img {
        margin-left: 10px;
        margin-right: 10px;
        width: 38px;
        height: 100%;
    }
}